@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

html {
  font-family: 'Inconsolata', monospace;
  /* font-weight: 600; */
  font-weight: 400;
  font-size: 1.5rem;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  background-color: #0B1340;
  color: #F9C650;
}

a {
  color: white;
}

.img_svg {
  margin-top: 2vh;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

footer  {
  background: #050B27 !important;
  /* border: red dashed 3px; */
  width: 100%;
  font-size: 2rem;
  color: white;
  font-weight: 300;
  padding-bottom: 10vh;
}

.footer_content {
  padding-top: 25vh;
  margin-left: 10vh;
  margin-right: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.logo_footer {
  height: auto;
  display: flex;
  align-items: baseline;
  font-size: 0.9rem;
  font-weight: 600;
  color: #D4A500;
}

.footer_logo_png {
  height: 4vh;
  width: auto;
  margin-right: 1vw;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 6vh;
}
.pages_main, .docs_irs, .docs_audit {
  font-size: 0.9rem;
  color: white;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.description {
  margin-left: 10vw;
  margin-right: 10vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.license_parts_mid {
    text-align: center;
}
